NODE_ENV=development

PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tripcontrol

JWT_SECRET=coloque_um_secret_grande_aqui

JWT_REFRESH_SECRET=coloque_outro_secret_grande_aqui

JWT_EXPIRES_IN=15m

JWT_REFRESH_EXPIRES_IN=30d

FRONTEND_URL=http://localhost:3000